.between {
    text-align: center;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.between > table {
    text-align: start;
}

/* label style */
.value-field {
    text-align: start;
    padding-left: 5px;
}

.value-field input {
    border: 2px solid;
    border-radius: 4px;
    padding-left: 8px;
}

.name-field {
    text-align: start;
}

.name-field > label {
    display: flex;
    flex: 1;
}

