.statting-container {
    justify-content: space-around;
    flex-flow: row wrap;
    align-items: stretch;
    text-align: start;
}

.header {
    justify-content: space-between;
    display: flex;
    align-items: center;
}

/* common */
.common-group {
    display: inline-block;
    white-space: nowrap;
}

/* step */
.step-row {
    vertical-align: top;
    font-weight: bold;
}

.step-repeat {
    vertical-align: top;
}

.step-pot {
    /*vertical-align: top;*/
    font-size: 0.5em;
}

/* statting container */
.stat-container {
    text-align: center;
}

.stat-container > .stat-center {
    text-align: center;
}

/* tab styles */
.tab-icon {
    display: inline-block;
    white-space: nowrap;
    margin-left: auto;
}

.tab-style {
    align-items: center;
    horiz-align: center;
    padding: 0.5rem !important;
    min-height: 0 !important;
    min-width: 0 !important;
}

.tab-icon-style {
    width: 1rem;
    height: 1rem;
}